<!DOCTYPE html>
<html lang="ha">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>FZ Video Download</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<main class="splash-main">
  <div class="hero">
    <div class="fz-big">FZ</div>
    <div class="sub-big">VIDEO DOWNLOAD</div>
  </div>
  <p class="tagline">Duba, kalli, kuma sauke bidiyoyinka cikin sauri da sauƙi.</p>

  <a href="{{ url_for('home') }}" class="download-btn splash-btn">Fara Amfani</a>
</main>

<footer>
  <div class="copyright">&copy; 2026 FZ Video Download. Duk haƙƙoƙi an kiyaye su.</div>
</footer>

</body>
</html>
